accelerate>=0.22.0
torchvision
transformers>=4.25.1
ftfy
tensorboard
Jinja2
datasets
peft==0.7.0
wandb
gevent
modelscope[multi-modal]
salesforce-lavis
word2number
Pillow
openai>=0.27.2
evaluate
promptcap>=1.0.3
openai>=1.0.0
langchain-groq
