asttokens
attrs
backcall
beautifulsoup4
bleach
comm
decorator
defusedxml
docopt
einops
exceptiongroup
executing
fastjsonschema
ipython
ipywidgets
jedi
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
jupyterlab_widgets
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
opencv-python
pandocfilters
parso
pexpect
pickleshare
pipreqs
platformdirs
prompt-toolkit
ptyprocess
pure-eval
Pygments
python-dateutil
pyzmq
referencing
rpds-py
six
soupsieve
stack-data
tinycss2
tokenizers
tornado
traitlets
transformers
wcwidth
webencodings
widgetsnbextension
xformers
yarg
